@font-face {
  font-display: swap;
  font-family: "Roboto";
  src: url("./../fonts/Roboto-Regular.woff2") format("woff2"), url("./../fonts/Roboto-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-display: swap;
  font-family: "Roboto";
  src: url("./../fonts/Roboto-Bold.woff2") format("woff2"), url("./../fonts/Roboto-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "iconfont";
  src: url("./../fonts/iconfont.woff2") format("woff2"), url("./../fonts/iconfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="_icon-"]::before,
[class*=" _icon-"]::before,
[class^="_icon-"]::after,
[class*=" _icon-"]::after {
  font-family: "iconfont";
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

._icon-good:before {
  content: "\e900";
}

* {
  padding: 0;
  margin: 0;
  border-style: none;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  height: 100%;
  line-height: 1;
  -webkit-text-size-adjust: 100%;
}

body {
  height: 100%;
}

a {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

body {
  font-family: "Roboto", sans-serif;
}

.container {
  max-width: 1024px;
  margin: 0 auto;
}

.button {
  font-size: 16px;
  line-height: 22px;
  text-transform: uppercase;
  background-color: hidden;
  border-radius: 8px;
  color: #222222;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.button:hover {
  background-color: #ffd338;
  border-radius: 8px;
}

.header__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 15px;
  margin-bottom: 144px;
}

.header__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-weight: 400;
  font-size: 16px;
  line-height: 137.5%;
  text-transform: uppercase;
}

.header__point {
  margin-left: 47px;
  background-color: hidden;
  border-radius: 8px;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.header__ref {
  padding: 13px 16px 12px;
  color: #555555;
}

.header__ref:hover {
  background-color: #ffd338;
  border-radius: 8px;
}

.header__sigh-in {
  padding: 13px 16px 12px;
}

.header__become {
  position: relative;
  padding: 13px 16px 12px 39px;
}

.header__become::before {
  position: absolute;
  top: 16px;
  left: 15px;
}

.page__superpeer {
  position: relative;
  margin-bottom: 100px;
}

.page__superpeer::before {
  content: "";
  position: absolute;
  top: -130px;
  left: 168px;
  z-index: -1;
  height: 1360px;
  width: 1143px;
  background: url("./../img/circles.png") 0 0/contain no-repeat;
}

.superpeer__heading {
  font-size: 64px;
  line-height: 110%;
  text-align: center;
  letter-spacing: 1px;
  color: #222222;
  margin-bottom: 14px;
}

.superpeer__text {
  font-size: 22px;
  line-height: 130%;
  max-width: 714px;
  margin: 0 auto;
  text-align: center;
  color: #555555;
  margin-bottom: 53px;
}

.superpeer__wrap-button {
  text-align: center;
  margin-bottom: 88px;
}

.superpeer__button {
  position: relative;
  padding: 13px 16px 12px 39px;
}

.superpeer__button::before {
  position: absolute;
  top: 16px;
  left: 15px;
}

.superpeer__wrap-image {
  text-align: center;
}

.superpeer__imgage {
  max-width: 100%;
  border-radius: 17.41px;
}

.creators__wrap-wave {
  background: url("./../img/vawe.png") 0 0/contain repeat;
}

.creators__subheading {
  font-weight: 700;
  font-size: 48px;
  line-height: 110%;
  text-align: center;
  letter-spacing: 1px;
  max-width: 540px;
  margin: 0 auto;
  color: #222222;
  margin-bottom: 11px;
}

.creators__text {
  font-size: 18px;
  line-height: 140%;
  text-align: center;
  color: #222222;
  margin-bottom: 66px;
}

.creators__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0 -46.5px;
}

.creators__column {
  padding: 0 60px 46.5px;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 34%;
          flex: 0 1 34%;
}
