.creators {
    &__wrap-wave {
    }

    &__vawe {
        // background: url("./../img/vawe.png");
        // margin-top: -140px;
    }

    &__subheading {
        max-width: 540px;
        margin: 0 auto;

        color: #222222;

        margin-bottom: 11px;
    }

    &__text {
        font-size: 18px;
        line-height: 140%;
        text-align: center;

        color: #222222;

        margin-bottom: 66px;
    }

    &__row {
        display: flex;
        flex-wrap: wrap;
        margin: 0 -46.5px;
    }

    &__column {
        padding: 0 60px 46.5px;
        flex: 0 1 50%;
    }

    &__item {
        height: 100%;
        display: flex;
        flex-direction: column;
    }

    &__wrap-image {
        margin-bottom: 48px;

        &_1 {
            &::before {
                background: url("./../img/dawn-dickson.png");
            }
        }

        &_2 {
            &::before {
                background: url("./../img/thomas-hopkins.png");
            }
        }

        &_3 {
            &::before {
                background: url("./../img/alice-johnson.png");
            }
        }

        &_4 {
            &::before {
                background: url("./../img/mark-wahlbeck.png");
            }
        }

        &_5 {
            &::before {
                background: url("./../img/jason-akel.png");
            }
        }

        &_6 {
            &::before {
                background: url("./../img/tristan-pollock.png");
            }
        }

        &_7 {
            &::before {
                background: url("./../img/jose-caya.png");
            }
        }

        &_8 {
            &::before {
                background: url("./../img/devrim-yasar.png");
            }
        }

        &_9 {
            &::before {
                background: url("./../img/armagan-amcalar.png");
            }
        }

        &_10 {
            &::before {
                background: url("./../img/jasmine-lawrence.png");
            }
        }
    }

    &__image {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    &__body {
    }

    &__subtitle {
        font-weight: 700;
        font-size: 22px;
        line-height: 130%;
        text-align: center;

        color: #222;

        margin-bottom: 11px;
    }

    &__subscription {
        font-size: 16px;
        line-height: 140%;
        text-align: center;

        color: #555;

        margin-bottom: 16px;
    }

    &__desc {
        width: 393px;
        font-size: 16px;
        line-height: 140%;
        text-align: center;

        color: #555555;

        margin-bottom: 21px;
    }

    &__list {
        display: flex;
        justify-content: center;
    }

    &__point {
        font-size: 16px;
        line-height: 140%;

        &:nth-child(1) {
            color: #98a3b6;
        }

        &:nth-child(2) {
            margin-left: 8px;
        }

        &:nth-child(3) {
            text-transform: uppercase;
            margin-left: 24px;
        }
    }

    &__ref {
        padding: 16px 32px 15px 32px;
        background-color: #ffedc2;
        border-radius: 8px;
        color: #222222;

        transition: all 0.3s ease 0s;

        &:hover {
            background-color: #ffd338;
        }
    }
}
